<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PET AGENDA</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/dt-2.0.8/datatables.min.css" rel="stylesheet">
    <link href="../menu/stylesmenu.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-2">
                <div class="menu"></div>
            </div>

            <div class="col-10">
               <div class="clientes"></div>
            </div>

        </div>
    </div>

    <script src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/dt-2.0.8/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="../clientes/clientes.js"></script>
    <!-- <script>
        $(document).ready(function () {
          $('.menu').load('../menu/navmenu.html');
          $('.clientes').load('../clientes/clientes.html');
        });
    </script> -->
</body>
</html>