@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Informe</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-3 col-12">
            <div class="card text-white bg-warning m-3" style="max-width: 18rem;">
                <div class="card-header">Number</div>
                <div class="card-body">
                    <h5 class="card-title mb-0">Citas agendadas</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="card text-white bg-secondary m-3" style="max-width: 18rem;">
                <div class="card-header">Number</div>
                <div class="card-body">
                    <h5 class="card-title mb-0">Citas completadas</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="card text-white bg-success m-3" style="max-width: 18rem;">
                <div class="card-header">Number</div>
                <div class="card-body">
                    <h5 class="card-title mb-0">Citas activas</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="card text-white bg-danger m-3" style="max-width: 18rem;">
                <div class="card-header">Number</div>
                <div class="card-body">
                    <h5 class="card-title mb-0">Citas canceladas</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Citas activas</h2>
        </div>
    </div>
</div>
